.fch_liuyan{
  .header{
    background:#C8161D;
    color:white;
    padding:3vw 0;
    font-size:5vw;
    text-align:center;
  }

  .bar{
    display:flex;
    justify-content:space-between;
    padding:0 3vw;
    list-style:none;
    border-bottom:2px solid #E8E8E8;
    li{
      padding:3vw 5vw;
      font-size:3.5vw;
    }
    .bar_li_on{
      color:#C8161D;
      border-bottom:2px solid #C8161D;
    }
    .bar_li_in{
      color:black;
      border-bottom:none;
    }
  }

  .tab{
    display:block;
    div:nth-of-type(1){
      color:#8C8C8C;
      padding:4vw 2vw;
      font-size:3.5vw;
    }
    div:nth-of-type(2){
      text-align:center;
      input{
        border:1px solid #C8161D;
        color:#C8161D;
        font-size:4.5vw;
        background:none;
        padding:2vw 2.5vw;
        border-radius:4px;
      }
    }
    .dianhua{
      text-align:center;
      p{
        margin:5vw 0;
        font-size:4vw;
      }
      p:nth-of-type(1){
        color:#646464;
        span{
          color:#B7AEAA;
        }
      }
      p:nth-of-type(2){
        color:#CE161D;
      }
    }
  }

  .tab2{
    display:none;
    .col{
      display:flex;
      justify-content:space-between;
      align-items:center;
      padding:2vw 2vw;
      border-bottom:1px solid #DEDEDE;
      div:nth-of-type(1){
        display:flex;
        align-items:center;
        justify-content:space-between;
        font-size:4vw;
        line-height:6vw;
        color:#646464;
        img{
          width:24vw;
          vertical-align:center;
          margin:0 2vw;
        }
      }
      div:nth-of-type(2){
        display:flex;
        justify-content:space-between;
        align-items:center;
        p{
          font-size:3vw;
          color:#646464;
          margin-right:1vw;
        }
        span{
          font-size:5vw;
          color:#D5D5D5;
        }
      }
    }
    .xuansha{
      color:#8C8C8C;
      padding:4vw 2vw;
      font-size:3.5vw;
    }
  }

  .tab3{
    display:none;
    margin-top:2vw;
    div:nth-of-type(1){
      text-align:center;
      input{
        border:1px solid #C8161D;
        color:#C8161D;
        font-size:4.5vw;
        background:none;
        padding:2vw 2.5vw;
        border-radius:4px;
      }
    }
    .dianhua{
      text-align:center;
      p{
        margin:5vw 0;
        font-size:4vw;
      }
      p:nth-of-type(1){
        color:#646464;
        span{
          color:#B7AEAA;
        }
      }
      p:nth-of-type(2){
        color:#CE161D;
      }
    }
  }
}