* {
  margin: 0;
  padding: 0;
  box-sizing: border-box; }

html {
  font-size: 62.5%; }

html {
  background: #f1f1f1; }

.w_fenye5_content .w_cont_header {
  width: 100%;
  padding: 3vw 4vw;
  background: #c8161d;
  display: flex;
  overflow: hidden;
  text-align: center; }
  .w_fenye5_content .w_cont_header p {
    text-decoration: none;
    font-size: 7vw;
    font-weight: bold;
    color: white; }
    .w_fenye5_content .w_cont_header p img {
      width: 10vw;
      vertical-align: middle; }
  .w_fenye5_content .w_cont_header p:first-child {
    float: left; }
  .w_fenye5_content .w_cont_header p:last-child {
    float: right; }
  .w_fenye5_content .w_cont_header p:nth-child(2) {
    width: 80%;
    padding: 1vw 0; }
.w_fenye5_content .w_content {
  width: 100%; }
  .w_fenye5_content .w_content > div:first-child {
    padding: 2vw;
    width: 100%;
    display: flex;
    margin-top: 2vw;
    background: white; }
    .w_fenye5_content .w_content > div:first-child p:first-child {
      width: 40%; }
      .w_fenye5_content .w_content > div:first-child p:first-child img {
        width: 100%; }
    .w_fenye5_content .w_content > div:first-child P:last-child {
      width: 60%;
      margin-left: 2vw;
      font-size: 5vw;
      padding: 2vw 0; }
  .w_fenye5_content .w_content > div:nth-child(2) {
    width: 100%;
    margin-top: 5vw; }
    .w_fenye5_content .w_content > div:nth-child(2) > p:first-child {
      background: #c3c3c3;
      padding: 4vw 5vw;
      color: white;
      position: relative;
      font-size: 5vw;
      font-weight: bold;
      text-align: center; }
      .w_fenye5_content .w_content > div:nth-child(2) > p:first-child img {
        position: absolute;
        right: 2vw;
        top: 3vw;
        width: 8vw; }
    .w_fenye5_content .w_content > div:nth-child(2) > p:nth-child(2) {
      text-indent: 2em;
      padding: 4vw;
      color: #807f7f;
      background: white;
      line-height: 6vw;
      font-size: 4vw; }
  .w_fenye5_content .w_content .w_cont {
    margin-top: 3vw; }
    .w_fenye5_content .w_content .w_cont > p {
      background: #c3c3c3;
      padding: 4vw 5vw;
      color: white;
      position: relative;
      font-size: 5vw;
      font-weight: bold;
      text-align: center; }
      .w_fenye5_content .w_content .w_cont > p img {
        position: absolute;
        right: 2vw;
        top: 3vw;
        width: 8vw; }
    .w_fenye5_content .w_content .w_cont > ul {
      width: 100%;
      padding: 2vw;
      background: white; }
      .w_fenye5_content .w_content .w_cont > ul > li {
        padding: 3vw 0;
        border-bottom: 1px solid #ccc;
        color: #393939;
        list-style: none;
        position: relative;
        font-size: 4vw;
        text-align: left; }
      .w_fenye5_content .w_content .w_cont > ul > li:last-child {
        border-bottom: 0; }
  .w_fenye5_content .w_content .w_cont_1 {
    width: 100%;
    margin: 2vw; }
    .w_fenye5_content .w_content .w_cont_1 P:first-child {
      padding: 7vw 0;
      text-align: center;
      font-size: 4vw;
      color: #818181; }
      .w_fenye5_content .w_content .w_cont_1 P:first-child span {
        margin-left: 10vw;
        color: #ccc; }
    .w_fenye5_content .w_content .w_cont_1 a:last-child {
      display: block;
      width: 100%;
      text-decoration: none;
      font-size: 5vw;
      margin-bottom: 8vw;
      text-align: center;
      color: #ff6f00; }

/*# sourceMappingURL=w_fenye5.css.map */
